.footer {
    background-color: var(--footer-color);
    padding: 60px 0;
  }
  
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tablet) {
      align-items: baseline;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include mq(desktop) {
      align-items: baseline;
      flex-wrap: nowrap;
    }
  }
  
  .footer-flex-wrap {
    @include mq(tablet) {
      margin-left: 76px;
    }
    @include mq(desktop) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    color: var(--hover-color);
    
    @include mq(desktop) {
      font-size: 26px;
      line-height: 1.19;
      text-align: left;
    }
  }
   
  .logo-white {
    color: var(--white-color);
  }
 
  .address {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include mq(desktop) {
      width: 230px;
      margin: 0;
      text-align: left;
    }
  }
  
  .map {
    color: var(--white-color);
    margin-bottom: 8px;
  }
  
  .footer-email,
  .footer-tel {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
  }

  .footer-email {
    margin-bottom: 8px;
  }
  
  /* footer .svg */
  .footer-links {
    margin-bottom: 60px;

    @include mq(tablet) {
      margin-left: 165px;
    }
    @include mq(desktop) {
      margin-left: 70px;
      margin-bottom: 0;
    }

  }
  
  .footer-links-list {
    display: flex;
  }
  
  .invite-footer {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
    margin: 0;
    margin-bottom: 20px;

    @include mq(desktop) {
      text-align: left;
    }
  }
  .footer-icon {
    margin-right: 10px;
  }
  
  .white-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-icons-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    fill: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
          background-color: var(--hover-color);
    cursor: pointer;
    }
  }

  .footer-spam-block {
    width: 100%;
    @include mq(desktop) {
      margin-left: 93px;
    }
  }
  
  .footer-spam-invite {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;

    @include mq(desktop) {
      text-align: left;
    }
  }
  
  .spam-form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq(desktop) {
      flex-direction: row;
    }
  }
  
  .spam-field {
    width: 100%;
    max-width: 358px;
    height: 50px;
    background-color: var(--footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px var(--box-shadow-color));
    border-radius: 4px;
    padding: 15px 16px;
    color: var(--white-color);
    margin-bottom: 20px;

    @include mq(desktop) {
      margin-bottom: 0;
    }
  }
  
  .submit-button-footer {
    display: flex;
    align-items: center;
    background-color: var(--hover-color);
    color: var(--white-color);
    fill: var(--white-color);
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    border: 0px;
    border-radius: 4px;
    padding-left: 30px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    &:hover, &:focus {
      background-color: var(--order-btn-backgrn-clr);
    }

    @include mq(desktop) {
      margin-left: 12px;
    }
  }
  
  .icon-send {
    margin: 13px 28px 13px 10px;
  }
  