.header {
  min-height: 60px;
  border-bottom: 1px solid var(--border-color);
  }
  
  .header-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    font-family: var(--secondary-font), sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: var(--hover-color);

    @include mq(tablet) {
      margin-right: 88px;

    }
    @include mq(desktop) {
      margin-right: 92px;
      font-size: 26px;
    }
  }
  
  .a-tag-header {
    padding: 32px 0;
    display: block;
  }
     
  .logo-black {
    color: var(--black-color);
  }

  .nav-header {
    display: none;

    @include mq(tablet) {
      display: block;
    }
  }
  
  .studio,
  .portfolio,
  .contact {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    color: var(--black-color);
    position: relative;
  }

  .contact {
    margin-right: 0px;
  }
  
  .current-page {
    color: var(--hover-color);
  }
  
  .current-page::after {
    display: block;
    width: 100%;
    content: "";
    border-bottom: 4px solid var(--hover-color);
    border-radius: 2px;
    position: absolute;
    top: 77px;
    left: 0;
  }
  
  .contacts {
    display: none;
    margin-left: auto;

    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      width: min-content;
    }
    @include mq(desktop) {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      width: auto;
    }
  }
  
  .a-tag-header {
    display: flex;
    align-items: center;
  }
  
  .header-tel,
  .header-email {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    @include mq(desktop) {
    font-size: 14px;
    line-height: 1.14;
    }
  }

  .header-email {
    margin-bottom: 10px;

    @include mq(desktop) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  }
  
  .header-email-link,
  .header-tel-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--hover-color);
    }
  }

  .envelope,
  .smartphone,
  .tel,
  .email {
    color: var(--grey-color);
    fill: var(--grey-color);
  }
  
  .envelope,
  .smartphone {
    margin-right: 8px;

    @include mq(desktop) {
      margin-right: 10px;
    }
  }