:root {
    --main-font: "Roboto";
    --secondary-font: "Raleway";
    --black-color: #212121;
    --hover-color: #2196f3;
    --white-color: #ffffff;
    --milk-color: #f5f4fa;
    --grey-color: #757575;
    --border-color: #ececec;
    --projects-color: #eeeeee;
    --footer-color: #2f303a;
    --order-block-color: #c4c4c4;
    --order-btn-backgrn-clr: #188ce8;
    --client-logo-color: #afb1b8;
    --modal-field-border: rgba(33, 33, 33, 0.2);
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-icons-color: rgba(255, 255, 255, 0.1);
    --background-modal-color: rgba(0, 0, 0, 0.2);
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --border-close-modal-button-color: rgba(0, 0, 0, 0.1);
    --backgrd-what-we-do-soaring: rgba(47, 48, 58, 0.8);
    --projects-hover-text: rgba(33, 150, 243, 0.9);
  }
 